div > div {
  text-align: center;
}

.item1 {
  background-color: darkkhaki;
}

.item2 {
  background-color: aqua;
}

.item3 {
  background-color: blueviolet;
}

.item4 {
  background-color: green;
}

.item5 {
  background-color: cadetblue;
}

.item6 {
  background-color: crimson;
}


/* containerクラスのdiv要素にスタイルを適用 */
/* 100px*100pxのトラックを4行*３列で定義する　*/
.container{
  display:grid;
  grid-template-columns:100px 100px 100px;
  grid-template-rows:100px 100px 100px 100px;
}
/* item〇クラスにスタイルを適用 */
.item2{
  grid-row:span 2;
}
.item3{
  grid-column:1;
  grid-row:3 / span 2;
}
.item4{
  grid-column:3;
}
.item5{
  grid-column:3;
}
.item6{
  grid-row:span 2;
  grid-column:span 2;
}